<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ROS App</title>
    <meta charset=utf-8 />
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body style="padding-top:60px">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="">ROS App</a>
          <ul class="nav">
            <%= print_nav %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <div class="row-fluid">
        <div class="span8" id="main">
          <%= yield %>
        </div>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
      function debug(str){ $("#debug").append("<p>"+str+"</p>"); };

      ws = new WebSocket("ws://localhost:8080");
      ws.onmessage = function(evt) { $("#msg").append("<p>"+evt.data+"</p>"); };
      ws.onclose = function() { debug("socket closed"); };
      ws.onopen = function() {
      debug("connected...");
      ws.send("hello server");
      };
      });
    </script>
    <div id="debug"></div>
    <div id="msg"></div>
  </body>
</html>
