<table class="table table-striped table-boarderd">
<thead>
  <tr><th>topic name</th><th>topic type</th></tr>
</thead>
<tbody>
  <% @topics.each do |topic| %>
  <tr><td><%= topic %></td><td>dummy</td></tr>
  <% end %>
</tbody>
<table>
